body {
  background-image: url("/sources/macbookPhoto.jpg");
}

.register {
  top: 30%;
  left: 0%;
  transform: translateY(-30%);
  transform: translateX(-100%);
  position: absolute;
  text-align: center;
  border-radius: 10px;
  width: 505px;
  height: 400px;
  background-color: #f9f8eb;
}
.register h1 {
  color: black;
  font-family: "Lilita One", cursive;
  font-family: "Questrial", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.register p {
  color: black;
  font-family: "Lilita One", cursive;
  font-family: "Questrial", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.register #loginAnchor {
  position: absolute;
  cursor: pointer;
  text-decoration: none;
  margin-left: 5px;
  transition: all 0.3s linear;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  border: none;
  background: none;
  color: purple;
  font-family: "Lilita One", cursive;
  font-family: "Questrial", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.register #loginAnchor:hover {
  transform: translate(-50%, -40%);
  transition: all 0.3s linear;
}

.login {
  top: 30%;
  left: 50%;
  transform: translateY(-30%);
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  border-radius: 10px;
  width: 505px;
  height: 400px;
  background-color: #f9f8eb;
}
.login h1 {
  color: black;
  font-family: "Lilita One", cursive;
  font-family: "Questrial", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.login p {
  color: black;
  font-family: "Lilita One", cursive;
  font-family: "Questrial", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.login #registerAnchor {
  position: absolute;
  cursor: pointer;
  text-decoration: none;
  margin-left: 5px;
  transition: all 0.3s linear;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  border: none;
  background: none;
  color: purple;
  font-family: "Lilita One", cursive;
  font-family: "Questrial", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.login #registerAnchor:hover {
  transform: translate(-50%, -40%);
  transition: all 0.3s linear;
}

#email {
  background: transparent;
  width: 380px;
  height: 30px;
  padding-left: 6px;
  border-color: transparent;
  border-bottom: solid #8e8e8e 2px;
  z-index: 1111;
  font-family: "Lilita One", cursive;
  font-family: "Questrial", sans-serif;
  font-family: "Work Sans", sans-serif;
  transition: all 0.5s linear;
  margin-bottom: 35px;
}
#email:focus {
  outline: none;
  border: solid black 2px;
  border-radius: 20px;
  transition: all 0.5s linear;
  font-size: 15px;
}

#password {
  background: transparent;
  width: 380px;
  height: 30px;
  padding-left: 6px;
  border-color: transparent;
  border-bottom: solid #8e8e8e 2px;
  z-index: 1111;
  font-family: "Lilita One", cursive;
  font-family: "Questrial", sans-serif;
  font-family: "Work Sans", sans-serif;
  transition: all 0.5s linear;
}
#password:focus {
  outline: none;
  border: solid black 2px;
  border-radius: 20px;
  transition: all 0.5s linear;
  font-size: 15px;
}

.material-symbols-outlined {
  position: relative;
  transform: translateY(40%);
  border-color: transparent;
  border-bottom: solid #8e8e8e 2px;
}

#btn {
  width: 450px;
  height: 70px;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(195, 29, 207) 37%, rgb(108, 25, 183) 77%);
  color: white;
  text-align: center;
  border-radius: 20px;
  border: none;
  font-family: "Lilita One", cursive;
  font-family: "Questrial", sans-serif;
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
  margin-top: 35px;
  overflow: hidden;
}
#btn .btn-ripple {
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  border-radius: 100%;
  animation: ripple 1s;
  transform: scale(0);
}

@keyframes ripple {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
::placeholder {
  font-family: "Lilita One", cursive;
  font-family: "Questrial", sans-serif;
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
}

.slideLeft {
  animation-name: slide-left;
  animation-duration: 2s;
  /* Preserve the effect of the animation at ending */
  animation-fill-mode: forwards;
}

@keyframes slide-left {
  0% {
    top: 30%;
    left: 50%;
    transform: translateY(-30%);
    transform: translateX(-50%);
  }
  100% {
    top: 30%;
    left: 0%;
    transform: translateY(-30%);
    transform: translateX(-100%);
  }
}
.slideRight {
  animation-name: slide-right;
  animation-duration: 2s;
  /* Preserve the effect of the animation at ending */
  animation-fill-mode: forwards;
}

@keyframes slide-right {
  0% {
    top: 30%;
    left: 0%;
    transform: translateY(-30%);
    transform: translateX(-100%);
  }
  100% {
    top: 30%;
    left: 50%;
    transform: translateY(-30%);
    transform: translateX(-50%);
  }
}