@import "variables";

body {
  background-image: url("/sources/macbookPhoto.jpg");
}
.login {
  top: 30%;
  left: 50%;
  transform: translateY(-30%);
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  border-radius: 10px;
  width: 505px;
  height: 400px;
  background-color: $creamyWhite;
  h1 {
    color: black;
    @include font;
  }

  p{
    color: black;
    @include font;
    
  }
  a{
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    margin-left: 5px;
    transition: all 0.3s linear;
    left: 50%;
    transform: translateX(-50%);
@include font;
    &:hover{
      transform: translate(-50%,-40%);
      transition: all 0.3s linear;
    }
  }
}

#email {
  @include form;
  margin-bottom: 35px;
}
#password {
  @include form;
}

.material-symbols-outlined {
  position: relative;
  transform: translateY(40%);
  border-color: transparent;
  border-bottom: solid $metalicGray 2px;
}

#btn {
  @include button;
  
  .btn-ripple {
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    border-radius: 100%;
    animation: ripple 1s;
    transform: scale(0);
  }
}

@keyframes ripple {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
::placeholder {
  @include font;
  font-size: 15px;
}
